/* variables globales definidas en :root */
:root {
    /* colores pricipales */
    --color-principal: #26627c;   
    --color-secundario: #2e53b9;  
    --efecto-hover: #1a3a8f;     

    /* colores de fondo */
    --color-fondo: #f5f5f5;
    --color-fondo-qrcode: #f8f9fa;
    
    /* efecto visual */
    --color-sombra-focus: rgba(67, 97, 238, 0.4);  /* sombra al enfocar input */

    /* mensaje de error */
    --color-error: #e74c3c;  /* texto de error */
   
}